
/* PR SECTION*/
.section-pr {
    background: url(../img/pr-main@2x.jpg) center/cover no-repeat;
}
.section-pr .container {
    h1 {
        color: white;
        font-size: 55px;
        margin-bottom: 30px;
    }
    p {
        font-size: 25px;
        line-height: 1.28;
    }
}

.section-prList {
    padding-top: 10.375rem;
    padding-bottom: 9.375rem;

    .nav .nav-link {
        cursor: pointer;
        width: 100%;
        border: solid 1px #707070;
        font-size: 1.688rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.68px;
        text-align: center;
        color: #222;
        border-radius: 50px;
    }
    .nav .active .nav-link {
        background-color: #ff862e;   
        color: #fff;
        border-color: #ff862e;
    }


    .prCon {
        .item {
            margin-bottom: 40px;
            text-align: left;
            color: #222;
            a {
                text-decoration: none;   
            }
            .imgWrap {
                width: 100%;
                height: 0;
                padding-top: calc(100% / 4 * 3);
                padding-top: 71.3%;
                padding-top: 66.1%;
                background: #b5b5b5;
                position: relative;
                margin-bottom: 20px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            h5 {
                font-size: 20px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.35;
                letter-spacing: -0.5px;
                text-align: left;
                color: #222;
                margin-bottom: 5px;
                overflow:hidden;
                text-overflow:ellipsis;
                -webkit-line-clamp: 2;	
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
            p {
                font-size: 15px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.27;
                letter-spacing: -0.38px;
                text-align: left;
                color: #464646;
                margin-bottom: 0;
                overflow:hidden;
                text-overflow:ellipsis;
                -webkit-line-clamp: 2;	
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
            span {
                display: block;
                margin-top: 15px;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.3px;
                text-align: left;
                color: #464646;
            }
        }
        .item .ready {
            background-color: #f7f7f7;
            border: solid 1px #e6e6e6;
            border-radius: 50px;
            text-align: center;
            font-size: 2.375rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.95px;
            color: rgba(34, 34, 34, 0.5);
            height: 23rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 74px;
            margin-top: calc(157px - 4.5rem);
            img {
                max-width: 128px;
                margin-bottom: 12px;
            }
        }

        .pagination {
            margin-top: 43px;
            margin-bottom: 0;
            justify-content: center;
            .page-link {
                height: 100%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem !important;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: -0.4px;
                text-align: center;
                color: #9b9b9b;
                line-height: 1;
                border: 0;
                box-sizing: border-box;
                padding: 18px;
            }
            .page-item.ac {
                .page-link {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: #030303;
                    position:relative;
                    font-size: 16px !important;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.4px;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 12px;
                        left:50%;
                        transform: translateX(-50%);
                        width: 1.125rem;
                        height: 3px;
                        background-color: #ff862e;
                    }
                }
            }
            .page-item:last-child .page-link,
            .page-item:first-child .page-link {
                text-indent: -9999px;
            }
            .page-item:first-child .page-link {
                background: url(../img/paging-arrow-l.svg) center no-repeat;
            }
            .page-item:last-child .page-link {
                background: url(../img/paging-arrow-r.svg) center no-repeat;
            }
        }
    }
}