/* TECH SECTION */
.section-tech {
  background: url(../img/bg_techVisual@2x.jpg) center/cover no-repeat;
}
.section-tech h1 {
  color: white;
}

.section-techCon {
  padding: 120px 0 200px;
  word-break: keep-all;
}
.section-techCon .flexWrap {
  display: flex;
  justify-content: space-between;
  height: 24.5rem;
}
.section-techCon .flexWrap .thumb1 {
  background: url(../img/bg_tech01@2x.jpg) 80% center/cover no-repeat;
}
.section-techCon .flexWrap .thumb2 {
  background: url(../img/bg_tech02@2x.jpg) center/cover no-repeat;
}
.section-techCon .flexWrap .conWrap,
.section-techCon .flexWrap .thumb {
  width: 50%;
  flex: 1 0 0;
}
.section-techCon .flexWrap:last-child {
  margin-top: 7.8rem;
  flex-direction: row-reverse;
}
.section-techCon .conWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.section-techCon .conWrap > div {
  max-width: 20rem;
}
.section-techCon .conWrap h3 {
  text-align: left;
  margin-bottom: 2.44rem;
  font-size: 2.188rem;
  font-weight: bold;
  letter-spacing: 0.35px;
}
.section-techCon .conWrap p {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: -0.5px;
  margin-bottom: 0;
}
.section-techCon .conWrap .btn {
  margin-top: 4rem;
  background-color: #000;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.44;
  letter-spacing: -0.72px;
  color: #fff;
  padding: 0 1.5rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.section-techCon .conWrap .btn.ac {
  animation: hoverColor 1.5s ease-in;
}
.section-techCon .conWrap .btn.ac i::before {
  transform: rotate(225deg);
  margin-top: 4px;
}
@keyframes hoverColor {
  0% {
    background-color: #FF862E;
  }
  70% {
    background-color: #FF862E;
  }
  100% {
    background-color: #000;
  }
}
.section-techCon .conWrap .btn i {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1.18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-techCon .conWrap .btn i::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(45deg);
  margin-top: -2px;
}
.section-techCon .bicon {
  margin-top: 3.75rem;
  padding: 2.2rem 0 3.7rem;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  text-align: center;
  color: #222;
  display: none;
}
.section-techCon .bicon.ac {
  display: block;
}
.section-techCon .bicon img {
  max-width: 150px;
}
.section-techCon .bicon h4 {
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: -0.45px;
  line-height: 1;
}
.section-techCon .bicon h3 {
  font-size: 2.063rem;
  font-weight: bold;
  letter-spacing: -0.83px;
  line-height: 1;
  margin-bottom: 1rem;
}
.section-techCon .bicon p {
  font-size: 1.063rem;
  font-weight: normal;
  line-height: 1.35;
  letter-spacing: -0.43px;
  margin-bottom: 0;
}

/*# sourceMappingURL=tech.css.map */
